.avatar {
  height: 2.5rem; /* h-10 */
  width: 2.5rem; /* w-10 */
  border-radius: 9999px; /* rounded-full */
  object-fit: cover;
}

.status {
  border-radius: 9999px;
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  font-size: 0.75rem;
  font-weight: 500;
}

.statusGreen {
  background-color: #dcfce7;
  color: #15803d;
}

.statusYellow {
  background-color: #fef9c3;
  color: #a16207;
}

.statusOrange {
  background-color: #ffedd5;
  color: #c2410c;
}

.activeBadge {
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #dcfce7;
  color: #15803d;
}

.inactiveBadge {
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #fee2e2;
  color: #b91c1c;
}

.tableRowEven {
  background-color: #ffffff;
  font-size: 0.875rem; /* text-sm */
}

.tableRowOdd {
  background-color: #f9fafb; /* bg-gray-50 */
  font-size: 0.875rem; /* text-sm */
}

.tableCell {
  padding: 0.75rem 1rem;
  text-align: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Label */
.label {
  margin-bottom: 0.5rem; /* More space under label */
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--charcoal-blue-grey);
}

/* Input styling */
.inputField {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px; /* Increased padding for better UX */
  font-size: 1rem;
  background: #fff;
  transition: border 0.3s, box-shadow 0.3s;
}

.inputField:focus {
  border-color: var(--misty-teal);
  box-shadow: 0 0 4px rgba(137, 180, 188, 0.5);
  outline: none;
}

.submitBtn {
  background: var(--gradient-background);
  border: none;
  border-radius: 8px;
  padding: 14px; /* Increased padding for bigger clickable button */
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
  margin-top: 1rem; /* Space above the button */
}
